.handwritten {
    font-family: 'gi';
}

@font-face {
    font-family: 'gi';
    src: url('../font/gi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




.big-text {
    font-size: 55pt;
}

.link:hover {
    text-decoration: none;
}

.center {
    display: flex;
    align-items: center;
}

.navbar {
    z-index: 1;
}

.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;
    box-sizing: border-box;

    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0.3;
    transition: opacity 1s;
}

.impress-enabled .step.active {
    opacity: 1;
}

/*
    We also make other steps visible and give them a pointer cursor using the
    `impress-on-` class.
*/
.impress-on-overview .step {
    opacity: 1;
}
