.handwritten {
  font-family: 'gi';
  font-size: 64pt;
}

@font-face {
  font-family:'gi';
  src: url('../font/gi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.horizontal-center {
  left: 40%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}