@font-face {
  font-family:'gi';
  src: url('../font/gi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.image {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 70%;
  margin-top: -50px;
  margin-left: -150px;
}

.text {
  font-family: 'gi';
  font-size: 128pt;
  position: fixed;
  top: 10%;
  left: 30%;
  right: 30%;
  text-align: center;
}
